<div class="bg-dark spad" data-aos="fade-down" data-aos-delay="400">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center text-white">Моят профил</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<div id="profile-container" class="container spad">
    <div class="row justify-content-center">
        <div class="col-md-8" data-aos="fade-down" data-aos-delay="500">
            <form [formGroup]="profileFormGroup" class="row" *ngIf="currentUser as user">
                <div class="col-md-4">
                    <div class="form-group row justify-content-center profile-picture">
                        <div class="col-sm-12 ">
                            <img id="profile-img" src="../../../assets/img/no-picture.png" alt="Profile image">
                        </div>
                        <div class="col-sm-12 mt-1">
                            <input type="file" name="image" class="input" accept="image">
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="form-group row">
                        <label class="col-form-label" for="ProfileEmail">E-mail</label>
                        <input type="email" class="form-control" id="ProfileEmail" value="{{user.email}}" [disabled]="true">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="ProfileUserName">Потребителско име</label>
                        <input type="text" class="form-control" id="ProfileUserName" value="{{users.username}}" [disabled]="true">
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="PhoneNumber">Телефонен номер</label> {{user.uid}} {{user.emailVerified}}
                        <input formControlName="phoneNumber" [class.input-error]="profileFormGroup.controls['phoneNumber'].touched && profileFormGroup.controls['phoneNumber'].invalid" type="number" class="form-control" id="PhoneNumber" value="{{user.phoneNumber}}">
                        <ng-container *ngIf="profileFormGroup.controls['phoneNumber'].touched && profileFormGroup.controls['phoneNumber'].invalid">
                            <p *ngIf="profileFormGroup.controls['phoneNumber'].errors?.['required']" class="error">
                                Полето "телефон" е задължително!
                            </p>
                            <p *ngIf="profileFormGroup.controls['phoneNumber'].errors?.['minlength']" class="error">
                                Телефона трябва да бъде поне 6 символа!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="City">Град</label>
                        <input formControlName="city" [class.input-error]="profileFormGroup.controls['city'].touched && profileFormGroup.controls['city'].invalid" type="number" class="form-control" id="City" value="city">
                        <ng-container *ngIf="profileFormGroup.controls['city'].touched && profileFormGroup.controls['city'].invalid">
                            <p *ngIf="profileFormGroup.controls['city'].errors?.['required']" class="error">
                                Полето "телефон" е задължително!
                            </p>
                            <p *ngIf="profileFormGroup.controls['city'].errors?.['minlength']" class="error">
                                Телефона трябва да бъде поне 6 символа!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="currentPassword">Парола</label>
                        <input formControlName="currentPassword" [class.input-error]="profileFormGroup.controls['currentPassword'].touched && profileFormGroup.controls['currentPassword'].invalid" type="password" class="form-control" id="currentPassword" placeholder="Парола">
                        <ng-container *ngIf="profileFormGroup.controls['currentPassword'].touched && profileFormGroup.controls['currentPassword'].invalid">
                            <p *ngIf="profileFormGroup.controls['currentPassword'].errors?.['required']" class="error">
                                Полето "парола" е задължително!
                            </p>
                            <p *ngIf="profileFormGroup.controls['currentPassword'].errors?.['minlength']" class="error">
                                Паролата трябва да бъде поне 6 символа!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="NewPassword">Нова парора</label>
                        <input formControlName="newPassword" [class.input-error]="shouldShowErrorForControl('newPassword', passwordsGroup)" type="password" class="form-control" id="NewPassword" placeholder="Нова парола">
                        <ng-container *ngIf="shouldShowErrorForControl('newPassword', passwordsGroup)">
                            <p *ngIf="passwordsGroup.controls['newPassword'].errors?.['minlength']" class="error">
                                Паролата трябва да бъде поне 6 символа!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group row">
                        <label class="col-form-label" for="RepeatNewPassword">Повтори новата парола</label>
                        <input formControlName="rePassword" [class.input-error]="shouldShowErrorForControl('rePassword', passwordsGroup)" type="password" class="form-control" id="RepeatNewPassword" placeholder="Повтори новата парола">
                        <ng-container *ngIf="shouldShowErrorForControl('rePassword', passwordsGroup)">
                            <p *ngIf="passwordsGroup.controls['rePassword'].errors?.['passwordMissmatch']" class="error">
                                Паролите не въспадат!
                            </p>
                        </ng-container>
                    </div>
                    <div class="form-group row">
                        <button [disabled]="profileFormGroup.invalid" type="submit" name="update" class="btn update-button p-2"><i class="fa fa-edit"></i> Обнови профила</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>