<div class="bg-dark spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center text-white">Добави обява</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<div id="sell-car-container" class="container my-3">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <form [formGroup]="sellCarFormGroup" (ngSubmit)="handleSelling()" id="sell-car">
                <div class="form-group row">
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-make">Марка</label>
                        <select formControlName="make" [class.input-error]="sellCarFormGroup.controls['make'].touched && sellCarFormGroup.controls['make'].invalid" id="input-make">
                            <option value="" [disabled]="true">Измери марка</option>
                            <option value="Alfa Romeo" >Alfa Romeo</option>
                            <option value="Audi" >Audi</option>
                            <option value="Ford" >Ford</option>
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['make'].touched && sellCarFormGroup.controls['make'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['make'].errors?.['required']" class="error">
                                Полето "Марка" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-model">Модел</label>
                        <select formControlName="model" [class.input-error]="sellCarFormGroup.controls['model'].touched && sellCarFormGroup.controls['model'].invalid" id="input-model">
                            <option value="" [disabled]="true">Избери модел</option>
                            <option value="Giulietta">Giulietta</option>
                            <option value="A3">A3</option>
                            <option value="Mustang">Mustang</option>
                            <option value="F 150">F 150</option>
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['model'].touched && sellCarFormGroup.controls['model'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['model'].errors?.['required']" class="error">
                                Полето "Модел" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-specification">Спецификация</label>
                        <input formControlName="specification" [class.input-error]="sellCarFormGroup.controls['specification'].touched && sellCarFormGroup.controls['specification'].invalid" type="text" class="form-control" id="input-specification" placeholder="Спецификация">
                    </div>
                    <div class="select-option gearbox col-md-3 mt-3">
                        <label for="input-gearbox">Скорости</label>
                        <select formControlName="gearbox" [class.input-error]="sellCarFormGroup.controls['gearbox'].touched && sellCarFormGroup.controls['gearbox'].invalid" id="input-gearbox">
                            <option value="" [disabled]="true">Избери скорости</option>
                            <option value="Ръчни">Ръчни</option>
                            <option value="Автоматични">Автоматични</option>
                            <option value="Полуавтоматични">Полуавтоматични</option>
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['gearbox'].touched && sellCarFormGroup.controls['gearbox'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['gearbox'].errors?.['required']" class="error">
                                Полето "Скорости" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-month">Първа регистрация - Месец</label>
                        <select formControlName="month" [class.input-error]="sellCarFormGroup.controls['month'].touched && sellCarFormGroup.controls['month'].invalid" id="input-month">
                            <option value=""[disabled]="true">Избери месец</option>
                            <option value="Януари">Януари</option>
                            <option value="Февруари">Февруари</option>
                            <option value="Март">Март</option>
                            <option value="Април">Април</option>
                            <option value="Май">Май</option>
                            <option value="Юни">Юни</option>
                            <option value="Юли">Юли</option>
                            <option value="Август">Август</option>
                            <option value="Септември">Септември</option>
                            <option value="Октовмри">Октовмри</option>
                            <option value="Ноември">Ноември</option>
                            <option value="Декември">Декември</option>
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['month'].touched && sellCarFormGroup.controls['month'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['month'].errors?.['required']" class="error">
                                Полето "Месец" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-firs-registration">Първа регистрация - година</label>
                        <select formControlName="year" [class.input-error]="sellCarFormGroup.controls['year'].touched && sellCarFormGroup.controls['year'].invalid" id="input-firs-registration">
                            <option value=""[disabled]="true">Избери година</option>
                            <option value="2022">2022</option>;
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['year'].touched && sellCarFormGroup.controls['year'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['year'].errors?.['required']" class="error">
                                Полето "Година" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-fuel">Тип двигател</label>
                        <select formControlName="fuel" [class.input-error]="sellCarFormGroup.controls['fuel'].touched && sellCarFormGroup.controls['fuel'].invalid" id="input-fuel">
                            <option value=""[disabled]="true">Избери гориво</option>
                            <option value="Дизел">Дизел</option>
                            <option value="Бензин">Бензин</option>
                            <option value="Газ/Бензин">Газ/Бензин</option>
                            <option value="Хибрид">Хибрид</option>
                            <option value="Електрически">Електрически</option>
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['fuel'].touched && sellCarFormGroup.controls['fuel'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['fuel'].errors?.['required']" class="error">
                                Полето "Тип двигател" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-emission-class">Клас емисии</label>
                        <select formControlName="emissions" [class.input-error]="sellCarFormGroup.controls['emissions'].touched && sellCarFormGroup.controls['emissions'].invalid" id="input-emission-class">
                            <option value=""[disabled]="true">Избери категория</option>
                            <option value="Euro 1">Euro 1</option>
                            <option value="Euro 2">Euro 2</option>
                            <option value="Euro 3">Euro 3</option>
                            <option value="Euro 4">Euro 4</option>
                            <option value="Euro 5">Euro 5</option>
                            <option value="Euro 6">Euro 6</option>
                            <option value="Euro6 c">Euro 6c</option>
                            <option value="Euro 6d">Euro 6d</option>
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['emissions'].touched && sellCarFormGroup.controls['emissions'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['emissions'].errors?.['required']" class="error">
                                Полето "Клас емисии" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-cubic-capacity">Обем на двигателя (в cm³)</label>
                        <input formControlName="cubicCapacity" [class.input-error]="sellCarFormGroup.controls['cubicCapacity'].touched && sellCarFormGroup.controls['cubicCapacity'].invalid" type="number" class="form-control" id="input-cubic-capacity" placeholder="пр. 1 968">
                        <ng-container *ngIf="sellCarFormGroup.controls['cubicCapacity'].touched && sellCarFormGroup.controls['cubicCapacity'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['cubicCapacity'].errors?.['required']" class="error">
                                Полето "Обем на двигателя (в cm³)" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-power">Мощност (к.с.)</label>
                        <input formControlName="power" [class.input-error]="sellCarFormGroup.controls['power'].touched && sellCarFormGroup.controls['power'].invalid" type="number" class="form-control" id="input-power" placeholder="пр. 150">
                        <ng-container *ngIf="sellCarFormGroup.controls['power'].touched && sellCarFormGroup.controls['power'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['power'].errors?.['required']" class="error">
                                Полето "Мощност (к.с.)" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-kilometres">Километри</label>
                        <input formControlName="kilometres" [class.input-error]="sellCarFormGroup.controls['kilometres'].touched && sellCarFormGroup.controls['kilometres'].invalid" type="number" class="form-control" id="input-kilometres" placeholder="пр. 200 000">
                        <ng-container *ngIf="sellCarFormGroup.controls['kilometres'].touched && sellCarFormGroup.controls['kilometres'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['kilometres'].errors?.['required']" class="error">
                                Полето "Километри" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-color">Цвят</label>
                        <input formControlName="color" [class.input-error]="sellCarFormGroup.controls['color'].touched && sellCarFormGroup.controls['color'].invalid" type="text" name="color" class="form-control" id="input-color" placeholder="пр. син">
                        <ng-container *ngIf="sellCarFormGroup.controls['color'].touched && sellCarFormGroup.controls['color'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['color'].errors?.['required']" class="error">
                                Полето "Цвят" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option col-md-3 mt-3">
                        <label for="input-price">Цена</label>
                        <input formControlName="price" [class.input-error]="sellCarFormGroup.controls['price'].touched && sellCarFormGroup.controls['price'].invalid" type="number" class="form-control" id="input-price" placeholder="пр. 24 500">
                        <ng-container *ngIf="sellCarFormGroup.controls['price'].touched && sellCarFormGroup.controls['price'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['price'].errors?.['required']" class="error">
                                Полето "Цена" е задължително!
                            </p>
                        </ng-container>
                    </div>
                    <div class="select-option inputCurrency col-md-3 mt-3">
                        <label for="input-currency">Валута</label>
                        <select formControlName="currency" [class.input-error]="sellCarFormGroup.controls['currency'].touched && sellCarFormGroup.controls['currency'].invalid" id="input-currency">
                            <option value=""[disabled]="true">Избери валута</option>
                            <option value="Лева">Лева</option>
                            <option value="Евро">Евро</option>
                            <option value="Паунда">Паунда</option>
                            <option value="Долара">Долара</option>
                        </select>
                        <ng-container *ngIf="sellCarFormGroup.controls['currency'].touched && sellCarFormGroup.controls['currency'].invalid">
                            <p *ngIf="sellCarFormGroup.controls['currency'].errors?.['required']" class="error">
                                Полето "Валута" е задължително!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="car-picture col-md-4 mt-3">
                        <img id="profile-img" src="../../../assets/img/add-picture.png" alt="Add image" class="img-fluid">
                        <input formControlName="photoURL" type="file" name="image" class="input" accept="image">
                    </div>
                    <div class="col-md-8 mt-3">
                        <label for="input-more-information">Повече информация</label>
                        <textarea formControlName="moreInfo" [class.input-error]="sellCarFormGroup.controls['moreInfo'].touched && sellCarFormGroup.controls['moreInfo'].invalid" id="input-more-information"></textarea>
                    </div>
                </div>
                <div class="form-group row mt-3">
                    <button [disabled]="sellCarFormGroup.invalid" type="submit" class="btn publish-button p-2"><i class="fa fa-plus-circle"></i> Публикувай обявата</button>
                </div>
            </form>
        </div>
    </div>
</div>