<div class="bg-dark spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center text-white">Вход</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<div id="login-container" class="container spad">
    <!-- <div class="row-cols-1"><p class="text-warning">Invalid username or password!</p></div> -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="login" [formGroup]="loginFormGroup" (ngSubmit)="handleLogin()">
                <div class="form-group row justify-content-center">
                    <div class="col-sm-12">
                        <input formControlName="email" [class.input-error]="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid" type="email" class="form-control" placeholder="E-mail">
                    </div>
                    <ng-container *ngIf="loginFormGroup.controls['email'].touched && loginFormGroup.controls['email'].invalid">
                        <p *ngIf="loginFormGroup.controls['email'].errors?.['required']" class="error">
                            Полето "e-mail" е задължително!
                        </p>
                        <p *ngIf="loginFormGroup.controls['email'].errors?.['email']" class="error">
                            E-mail адреса не е валиден!
                        </p>
                    </ng-container>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-sm-12">
                        <input formControlName="password" [class.input-error]="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid" type="password" class="form-control" id="inputPassword" placeholder="Парола">
                    </div>
                    <ng-container class="mt-2" *ngIf="loginFormGroup.controls['password'].touched && loginFormGroup.controls['password'].invalid">
                        <p *ngIf="loginFormGroup.controls['password'].errors?.['required']" class="error">
                            Полето "парола" е задължително!
                        </p>
                        <p *ngIf="loginFormGroup.controls['password'].errors?.['minlength']" class="error">
                            Паролата трябва да бъде поне 6 символа!
                        </p>
                    </ng-container>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button [disabled]="loginFormGroup.invalid" class="btn login-button p-2"><i class="fas fa-sign-in-alt"></i> Влез</button>
                    </div>
                </div>
            </form>
            <div class="row create-acc-link">
                <div class="col-sm-12 text-right">
                    <a routerLink="/register">Нямате регистрация? Направете си една тук</a>
                </div>
            </div>
        </div>
    </div>
</div>