#login-container input {
    text-align: center;
}

.register-button {
    background: var(--color-red);
    color: var(--color-white);
    font-size: 12px;
    width: 100%;
}

.register-button:hover {
    background-color: var(--color-dark);
}

.form-group {
    margin-bottom: 1rem;
}

.create-acc-link a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-style: italic;
    color: var(--color-link);
}

.create-acc-link a:hover {
    text-decoration: underline;
    color: var(--color-link);
}