<div class="bg-dark spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center text-white">Регистрация</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<div id="register-container" class="container spad">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form [formGroup]="registerFormGroup" (ngSubmit)="handleRegister()">
                <div class="form-group row justify-content-center">
                    <div class="col-sm-6">
                        <input formControlName="email" [class.input-error]="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid" type="email" class="form-control" placeholder="E-mail">
                        <ng-container *ngIf="registerFormGroup.controls['email'].touched && registerFormGroup.controls['email'].invalid">
                            <p *ngIf="registerFormGroup.controls['email'].errors?.['required']" class="error">
                                Полето "e-mail" е задължително!
                            </p>
                            <p *ngIf="registerFormGroup.controls['email'].errors?.['email']" class="error">
                                E-mail адреса не е валиден!
                            </p>
                        </ng-container>
                    </div>
                    <div class="col-sm-6">
                        <input formControlName="username" [class.input-error]="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].invalid" type="text" class="form-control" placeholder="Потребителско име">
                        <ng-container *ngIf="registerFormGroup.controls['username'].touched && registerFormGroup.controls['username'].invalid">
                            <p *ngIf="registerFormGroup.controls['username'].errors?.['required']" class="error">
                                Полето "потребителско име" е задължително!
                            </p>
                            <p *ngIf="registerFormGroup.controls['username'].errors?.['minlength']" class="error">
                                Username трябва да бъде поне 6 символа!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div formGroupName="passwords" class="form-group row justify-content-center">
                    <div class="col-sm-6">
                        <input formControlName="password" [class.input-error]="shouldShowErrorForControl('password', passwordsGroup)" type="password" name="password" class="form-control" placeholder="Парола">
                        <ng-container *ngIf="shouldShowErrorForControl('password', passwordsGroup)">
                            <p *ngIf="passwordsGroup.controls['password'].errors?.['required']" class="error">
                                Полето "парола" е задължително!
                            </p>
                            <p *ngIf="passwordsGroup.controls['password'].errors?.['minlength']" class="error">
                                Паролата трябва да бъде поне 6 символа!
                            </p>
                        </ng-container>
                    </div>
                    <div class="col-sm-6">
                        <input formControlName="rePassword" [class.input-error]="shouldShowErrorForControl('rePassword', passwordsGroup)" type="password" class="form-control" placeholder="Повторете паролата">
                        <ng-container *ngIf="shouldShowErrorForControl('rePassword', passwordsGroup)">
                            <p *ngIf="passwordsGroup.controls['rePassword'].errors?.['required']" class="error">
                                Полето "повторете парола" е задължително!
                            </p>
                            <p *ngIf="passwordsGroup.controls['rePassword'].errors?.['passwordMissmatch']" class="error">
                                Паролите не въспадат!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input formControlName="phoneNumber" [class.input-error]="registerFormGroup.controls['phoneNumber'].touched && registerFormGroup.controls['phoneNumber'].invalid" type="number" class="form-control" placeholder="Телефонен номер">
                        <ng-container *ngIf="registerFormGroup.controls['phoneNumber'].touched && registerFormGroup.controls['phoneNumber'].invalid">
                            <p *ngIf="registerFormGroup.controls['phoneNumber'].errors?.['required']" class="error">
                                Полето "телефон" е задължително!
                            </p>
                            <p *ngIf="registerFormGroup.controls['phoneNumber'].errors?.['minlength']" class="error">
                                Телефона трябва да бъде поне 6 символа!
                            </p>
                        </ng-container>
                    </div>
                    <div class="col-sm-6">
                        <input formControlName="city" [class.input-error]="registerFormGroup.controls['city'].touched && registerFormGroup.controls['city'].invalid" type="text" class="form-control" placeholder="Град">
                        <ng-container *ngIf="registerFormGroup.controls['city'].touched && registerFormGroup.controls['city'].invalid">
                            <p *ngIf="registerFormGroup.controls['city'].errors?.['required']" class="error">
                                Полето "град" е задължително!
                            </p>
                            <p *ngIf="registerFormGroup.controls['city'].errors?.['minlength']" class="error">
                                Градът трябва да бъде поне 3 символа!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <button [disabled]="registerFormGroup.invalid" type="submit" class="btn register-button p-2"><i class="fa fa-user-plus"></i> Регистрация</button>
                    </div>
                </div>
            </form>
            <div class="row create-acc-link">
                <div class="col-sm-12 text-right">
                    <a routerLink="/login">Вече имате акаунт? Впишете се от тук</a>
                </div>
            </div>
        </div>
    </div>
</div>