<div *ngIf="currentCar as car">
    <div class="bg-dark spad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="text-center text-white">{{car.make}} {{car.model}} {{car.specification}}</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div id="car-details-container" class="container my-3">
        <div class="row">
            <section class="col-md-9" data-aos="fade-down" data-aos-delay="400">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <img src="{{car.photoURL}}" alt="{{car.make}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mt-2">
                            <div class="col-md-12">Цена: {{car.price}} {{car.currency}} </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6"><span>Първа регистрация:</span></div>
                            <div class="col-sm-6"><span>{{car.month}} {{car.year}}</span></div>
                            <div class="col-sm-6"><span>Тип двигател:</span></div>
                            <div class="col-sm-6"><span>{{car.fuel}}</span></div>
                            <div class="col-sm-6"><span>Обем на двигателя:</span></div>
                            <div class="col-sm-6"><span>{{car.cubicCapacity}} ccm</span></div>
                            <div class="col-sm-6"><span>Мощност:</span></div>
                            <div class="col-sm-6"><span>{{car.power}} к.с.</span></div>
                            <div class="col-sm-6"><span>Километри:</span></div>
                            <div class="col-sm-6"><span>{{car.kilometres}} км.</span></div>
                            <div class="col-sm-6"><span>Евростандарт:</span></div>
                            <div class="col-sm-6"><span>{{car.emissions}}</span></div>
                            <div class="col-sm-6"><span>Цвят:</span></div>
                            <div class="col-sm-6"><span>{{car.color}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <h6>Повече информация</h6>
                        <hr/>
                        <p>{{car.moreInfo}}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <div class="card border-dark mb-3">
                            <div class="card-header">Публикувана от</div>
                            <div class="card-body row align-items-center">
                                <div class="col-md-4"><img src="{{currentUser.photoURL}}" class="ïmg-fluid"></div>
                                <div class="col-md-6">
                                    <h5 class="card-title">{{currentUser.username}}</h5>
                                    <p class="card-text"><i class="fa fa-phone"></i>{{currentUser.phoneNumber}}</p>
                                    <p class="card-text"><i class="fa fa-globe"></i>{{currentUser.city}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <autotrader-aside class="col-md-3"></autotrader-aside>
        </div>
    </div>
</div>