<div *ngIf="currentCar as car">
    <div class="bg-dark spad">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="text-center text-white">{{car[0].make}} {{car[0].model}} {{car[0].specification}}</h1>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <div id="car-details-container" class="container my-3">
        <div class="row">
            <section class="col-md-9" data-aos="fade-down" data-aos-delay="400">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <img src="{{car[0].photoURL}}" alt="{{car[0].make}}" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Цена:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].price}} {{car[0].currency}}</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Първа регистрация:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].month}} {{car[0].year}}</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Тип двигател:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].fuel}}</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Обем на двигателя:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].cubicCapacity}} ccm</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Мощност:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].power}} к.с.</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Километри:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].kilometres}} км.</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Евростандарт:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].emissions}}</span></div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-6">
                                <h6>Цвят:</h6>
                            </div>
                            <div class="col-sm-6"><span>{{car[0].color}}</span></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 mt-3">
                        <h6>Повече информация</h6>
                        <hr/>
                        <p>{{car[0].moreInfo}}</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12" *ngIf="publishedUser as user">
                        <div class="card border-dark mb-3">
                            <div class="card-header">Публикувана от</div>
                            <div class="card-body row align-items-center">
                                <div class="col-md-4"><img src="{{user[0].photoURL}}" class="ïmg-fluid user-img-ad" title="{{user[0].username}}" alt="{{user[0].username}}"></div>
                                <div class="col-md-6">
                                    <h5 class="card-title">{{user[0].username}}</h5>
                                    <p class="card-text"><i class="fa fa-phone"></i> {{user[0].phoneNumber}}</p>
                                    <p class="card-text"><i class="fa fa-globe"></i> {{user[0].city}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <autotrader-aside class="col-md-3"></autotrader-aside>
        </div>
    </div>
</div>