.error-410 h1 {
    margin: 100px auto 0 auto;
    color: var(--color-red);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 200;
    text-align: center;
}

.error-410 h2 {
    margin: 20px auto 30px auto;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: Arial, Helvetica, sans-serif;
    text-align: center;
    color: var(--color-dark-grey);
}