<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="footer-about">
                    <div class="footer-about-logo">
                        <a routerLink="/"><img src="./../../../assets/img/footer-logo.png" alt="Logo" title="Auto trader"></a>
                    </div>
                    <p>Намери идеалната кола за теб</p>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 text-right">
                <div class="footer-address">
                    <ul>
                        <li>
                            <span>Телефон:</span>
                            <p>(+359) 123-456-789</p>
                        </li>
                        <li>
                            <span>Email:</span>
                            <p>info@autodrader.eu</p>
                        </li>
                        <li>
                            <span>Факс:</span>
                            <p>(+359) 123-456-789</p>
                        </li>
                        <li>
                            <span>Социални мрежи:</span>
                            <div class="footer-social">
                                <a href="https://www.facebook.com/" title="Facebook"><i class="fa fa-facebook-square"></i></a>
                                <a href="https://www.instagram.com/" title="Instagram"><i class="fa fa-instagram"></i></a>
                                <a href="https://twitter.com/" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.pinterest.com/" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-copyright">
                    <div class="footer-copyright-text">
                        <p>Copyright &copy; 2022 All rights reserved | <a routerLink="/home">AutoTrader</a></p>
                    </div>
                    <div class="footer-copyright-links">
                        <a routerLink="/home">Terms</a>
                        <a routerLink="/home">Privacy Policy</a>
                        <a routerLink="/home">Cookie Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>