<div class="bg-dark spad" data-aos="fade-down" data-aos-delay="300">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center text-white">Моите обяви</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- All cars Section Begin -->
<section class="all-listed-cars spad">
    <div class="container">
        <div class="row">
            <section class="col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6" data-aos="fade-down" data-aos-delay="500">
                        <div class="listing-item">
                            <div class="listing-item-pic">
                                <img src="../../../assets/img/add-picture.png" alt="Picture">
                            </div>
                            <div class="listing-item-text row">
                                <div class="listing-item-text-title col-sm-6">
                                    <h5>Title</h5>
                                </div>
                                <div class="listing-item-price col-sm-6">
                                    <h6>Price</h6>
                                </div>
                            </div>
                            <div class="listing-item-text">
                                <div class="listing-item-text-info">
                                    <ul>
                                        <li>mm.yy reg</li>
                                        <li>gearbox</li>
                                        <li>Fuel</li>
                                        <li>cubic capacity</li>
                                        <li>power hp</li>
                                        <li>km.</li>
                                        <li>emiss class</li>
                                        <li>color</li>
                                    </ul>
                                </div>
                                <a href="" class="btn listing-item-button my-2"><i class="fa fa-eye"></i> Виж повече</a>
                                <a href="" class="btn edit-button my-2"><i class="fa fa-edit"></i> Редактирай</a>
                                <a href="" class="btn delete-button my-2"><i class="fa fa-trash"></i> Изтрий</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <autotrader-aside class="col-md-3"></autotrader-aside>
        </div>
    </div>
</section>