<section class="hero set-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-text">
                    <div class="section-title">
                        <h1>Auto trader</h1>
                        <h2>Намери идеалната кола за теб</h2>
                    </div>
                    <div class="hero-search-form justify-content-center">
                        <form action="search" method="post" id="search">
                            <div class="select-option">
                                <select id="make" class="nice-select">
                                    <option value="" >Избери марка</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <select id="model" class="nice-select">
                                    <option value="" >Избери модел</option>
                                </select>
                            </div>
                            <div class="select-option">
                                <select id="Fuel" class="nice-select">
                                    <option value="">Тип двигател</option>
                                    <option value="*">Всички</option>
                                    <option value="Diesel">Дизел</option>
                                    <option value="Petrol">Бензин</option>
                                    <option value="LPG">Газ/Бензин</option>
                                    <option value="Hybrid">Хибрид</option>
                                    <option value="Electric">Електрически</option>

                                </select>
                            </div>
                            <div class="select-option">
                                <select id="year-after" class="nice-select">
                                    <option value="">След </option>                                    
                                </select>
                            </div>
                            <button type="submit"><i class="fa fa-search"></i> Търси</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Most Search Section Begin -->
<section class="most-search spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h3>Последно добавени</h3>
                    <hr>
                </div>
            </div>
        </div>
        <div class="row">
            <article class="col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let cars of allCars">
                        <div class="listing-item">
                            <div class="listing-item-pic">
                                <img src="{{cars.photoURL}}" alt="{{cars.make}} {{cars.model}}" title="{{cars.make}} {{cars.model}}">
                            </div>
                            <div class="listing-item-text row">
                                <div class="listing-item-text-title col-sm-6">
                                    <h5>{{cars.make}} {{cars.model}}</h5>
                                </div>
                                <div class="listing-item-price col-sm-6">
                                    <h6>{{cars.price}}</h6>
                                </div>
                            </div>
                            <div class="listing-item-text">
                                <div class="listing-item-text-info">
                                    <ul>
                                        <li>{{cars.month}}.{{cars.year}} год.</li>
                                        <li>{{cars.gearbox}}</li>
                                        <li>{{cars.fuel}}</li>
                                        <li>{{cars.cubicCapacity}}</li>
                                        <li>{{cars.power}} к.с.</li>
                                        <li>{{cars.kilometres}} км.</li>
                                        <li>{{cars.emissions}}</li>
                                        <li>{{cars.color}}</li>
                                    </ul>
                                </div>
                                <a routerLink="/car-details/{{cars.cid}}" class="btn listing-item-button my-2"><i class="fa fa-eye"></i> Виж повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <!-- Aside -->
            <autotrader-aside class="col-md-3"></autotrader-aside>
        </div>
    </div>
</section>
<!-- Most Search Section End -->