<div class="bg-dark spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center text-white">Забравена парола</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<div id="reset-password-container" class="container spad">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="handleResetPassword()">
                <div class="form-group row justify-content-center">
                    <div class="col-md-12" *ngIf="userService.currentUser as user">
                        <p class="text-center">Моля, въведете своя имейл адрес, за да поискате нулиране на паролата.</p>
                    </div>
                </div>
                <div class="form-group row justify-content-center">
                    <div class="col-md-12">
                        <input formControlName="email" [class.input-error]="forgotPasswordFormGroup.controls['email'].touched && forgotPasswordFormGroup.controls['email'].invalid" type="email" class="form-control" placeholder="E-mail">
                        <ng-container *ngIf="forgotPasswordFormGroup.controls['email'].touched && forgotPasswordFormGroup.controls['email'].invalid">
                            <p *ngIf="forgotPasswordFormGroup.controls['email'].errors?.['required']" class="error">
                                Полето "e-mail" е задължително!
                            </p>
                            <p *ngIf="forgotPasswordFormGroup.controls['email'].errors?.['email']" class="error">
                                E-mail адреса не е валиден!
                            </p>
                        </ng-container>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-12">
                        <button [disabled]="forgotPasswordFormGroup.invalid" type="submit" class="btn resent-button p-2"><i class="fa fa-paper-plane"></i> Изпрати</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>