<div class="bg-dark spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h1 class="text-center">Всички обяви</h1>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- All cars Section Begin -->
<section class="all-listed-cars spad">
    <div class="container">
        <div class="row">
            <article class="col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="let cars of allCars">
                        <div class="listing-item">
                            <div class="listing-item-pic">
                                <img src="{{cars.photoURL}}" alt="{{cars.make}} {{cars.model}}" title="{{cars.make}} {{cars.model}}">
                            </div>
                            <div class="listing-item-text row">
                                <div class="listing-item-text-title col-sm-6">
                                    <h5>{{cars.make}} {{cars.model}}</h5>
                                </div>
                                <div class="listing-item-price col-sm-6">
                                    <h6>{{cars.price}} {{cars.currency}}</h6>
                                </div>
                            </div>
                            <div class="listing-item-text">
                                <div class="listing-item-text-info">
                                    <ul>
                                        <li>{{cars.month}}.{{cars.year}} год.</li>
                                        <li>{{cars.gearbox}}</li>
                                        <li>{{cars.fuel}}</li>
                                        <li>{{cars.cubicCapacity}}</li>
                                        <li>{{cars.power}} к.с.</li>
                                        <li>{{cars.kilometres}} км.</li>
                                        <li>{{cars.emissions}}</li>
                                        <li>{{cars.color}}</li>
                                    </ul>
                                </div>
                                <a routerLink="/car-details/{{cars.cid}}" class="btn listing-item-button my-2"><i class="fa fa-eye"></i> Виж повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <autotrader-aside class="col-md-3"></autotrader-aside>
        </div>
    </div>
</section>