<div class="bg-dark spad">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <h3 class="text-center">Всички обяви</h3>
                <hr>
            </div>
        </div>
    </div>
</div>
<!-- All cars Section Begin -->
<section class="all-listed-cars spad">
    <div class="container">
        <div class="row">
            <article class="col-md-9">
                <div class="row">
                    <div class="col-lg-4 col-md-6" *ngFor="allCars">
                        <div class="listing-item">
                            <div class="listing-item-pic">
                                <img src="../../../assets/img/add-picture.png" alt="{{allCars.photoURL}}">
                            </div>
                            <div class="listing-item-text row">
                                <div class="listing-item-text-title col-sm-6">
                                    <h5>{{allCars.make}} {{allCars.model}}</h5>
                                </div>
                                <div class="listing-item-price col-sm-6">
                                    <h6>{{allCars.price}}</h6>
                                </div>
                            </div>
                            <div class="listing-item-text">
                                <div class="listing-item-text-info">
                                    <ul>
                                        <li>{{allCars.month}}.{{allCars.year}} reg</li>
                                        <li>{{allCars.gearbox}}</li>
                                        <li>{{allCars.fuel}}</li>
                                        <li>{{allCars.cubicCapacity}}</li>
                                        <li>{{allCars.power}} hp</li>
                                        <li>{{allCars.kilometres}} km.</li>
                                        <li>{{allCars.emissions}}</li>
                                        <li>{{allCars.color}}</li>
                                    </ul>
                                </div>
                                <a routerLink="/car-details/{{allCars.cid}}" class="btn listing-item-button my-2"><i class="fa fa-eye"></i> Виж повече</a>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <autotrader-aside class="col-md-3"></autotrader-aside>
        </div>
    </div>
</section>